This doesn't really sound like a question about or an issue with the LDAP SDK. Instead, it's more specific to the way that Active Directory handles groups, and that's not something that I'm familiar with.

You mention that an attempt to retrieve the primaryGroupToken attribute is always null. Is it possible that it's an operational attribute? If so, then it needs to be explicitly requested when you're retrieving the entry that is supposed to contain it, like:

    ldapConnectionPool.getEntry(groupDN, "*", "primaryGroupToken")

Note that the "*" item indicates that the server should return all user attributes in addition to the primaryGroupToken attribute.

It's also possible that the account you're using doesn't have permission to see that attribute.

But ultimately, this doesn't sound like an issue with the LDAP SDK or standard LDAP behavior, but is related entirely to the proprietary group implementation that Active Directory uses, and that's not something I can help with.

> This doesn't really sound like a question about or an issue with the LDAP SDK. Instead, it's more specific to the way that Active Directory handles groups, and that's not something that I'm familiar with.
> 
> You mention that an attempt to retrieve the primaryGroupToken attribute is always null. Is it possible that it's an operational attribute? If so, then it needs to be explicitly requested when you're retrieving the entry that is supposed to contain it, like:
> 
> ```
> ldapConnectionPool.getEntry(groupDN, "*", "primaryGroupToken")
> ```
> 
> Note that the "*" item indicates that the server should return all user attributes in addition to the primaryGroupToken attribute.
> 
> It's also possible that the account you're using doesn't have permission to see that attribute.
> 
> But ultimately, this doesn't sound like an issue with the LDAP SDK or standard LDAP behavior, but is related entirely to the proprietary group implementation that Active Directory uses, and that's not something I can help with.

Sorry, but simetimes it is hard to understand for me what is LDAP specific and wha is AD specific. The community is not very active for some reasons. So it is the reason why I try to find any ability. Than you for your help.

For now I know how to primaryGroupToken from **group** side
```
val objectSidBytes = getAttributeValueBytes("ObjectSid")
val sid = LdapUtils.convertBinarySidToString(objectSidBytes)  // Spring ldap
val primaryGroupToken = it.objectSid.substring(it.objectSid.lastIndexOf('-') + 1)
```

But I still can't make request which allow me to return group by **primaryGroupToken**

I'm just another user, but I faced a similar challenge.
There may be better ways, but here is how I did this (using groovy):

```import com.unboundid.ldap.sdk.LDAPConnection
import com.unboundid.ldap.sdk.SearchScope
import org.springframework.ldap.support.LdapUtils

def getGroupEntryByRid(String groupRid){
   LDAPConnection ldap = new LDAPConnection()

   def rootDn = ldap.rootDSE.getAttributeValue('defaultNamingContext')
   def domainSidBytes = ldap.getEntry(rootDn, 'objectSid').getAttributeValueBytes('objectSid')
   String domainSidString = LdapUtils.convertBinarySidToString(domainSidBytes)
   def groupSidString = domainSidString + '-' + groupRid
   def query = "(objectSid=$groupSidString)"
   return ldap.searchForEntry(rootDn, SearchScope.SUB, query)
}


> I'm just another user, but I faced a similar challenge. There may be better ways, but here is how I did this (using groovy):
> 
> ```
> import com.unboundid.ldap.sdk.SearchScope
> import org.springframework.ldap.support.LdapUtils
> 
> def getGroupEntryByRid(String groupRid){
>    LDAPConnection ldap = new LDAPConnection()
> 
>    def rootDn = ldap.rootDSE.getAttributeValue('defaultNamingContext')
>    def domainSidBytes = ldap.getEntry(rootDn, 'objectSid').getAttributeValueBytes('objectSid')
>    String domainSidString = LdapUtils.convertBinarySidToString(domainSidBytes)
>    def groupSidString = domainSidString + '-' + groupRid
>    def query = "(objectSid=$groupSidString)"
>    return ldap.searchForEntry(rootDn, SearchScope.SUB, query)
> }
> ```

Thank you for sharing your experience.

Based on your answer I've found that I can retrieve entry by SID

`ldapConnectionPool.searchForEntry(baseDn, SearchScope.SUB, "objectSid=S-1-5-32-550")`


But problem here that most of groups have different prefixes (same prefix have groups in the same folder):

[
![image](https://github.com/pingidentity/ldapsdk/assets/6998637/85de75d4-473a-43f1-9215-ce93a088b629)
](url)

![image][(https://github.com/pingidentity/ldapsdk/assets/6998637/85de75d4-473a-43f1-9215-ce93a088b629](http://dl4.joxi.net/drive/2023/08/22/0005/3037/338909/09/c90f75e542.jpg))
](url)

and query like 
```
ldapConnectionPool.searchForEntry(baseDn, SearchScope.SUB, "*-550")
```


don't work


@dirmgr Could you please open discussions in project settings if you don't like to see questions here instead of actual issues ?

I think that the Javadoc description of the [getEntry](https://docs.ldap.com/ldap-sdk/docs/javadoc/com/unboundid/ldap/sdk/AbstractConnectionPool.html#getEntry(java.lang.String,%20java.lang.String...)) method is sufficient. It says that if you don't specifically request any attributes, then all user attributes will be requested. That's also standard LDAP behavior (as per RFC 4511 section 4.5.1.8).

What is perhaps less clear is that the primaryGroupToken attribute is defined as operational and therefore needs to be explicitly requested by name. I have found a couple of different pages where Microsoft seems to provide a definition for the attribute, but that definition is in a proprietary form rather than the standard LDAP form, and there's nothing on that page that makes it clear that it has an operational usage. It is probably something that could have been discovered by retrieving the schema from the server, and it is the kind of thing that logically makes sense to be an operational attribute, but it would be nice if Microsoft made it clearer that it's an operational attribute.

> I think that the Javadoc description of the [getEntry](https://docs.ldap.com/ldap-sdk/docs/javadoc/com/unboundid/ldap/sdk/AbstractConnectionPool.html#getEntry(java.lang.String,%20java.lang.String...)) method is sufficient. It says that if you don't specifically request any attributes, then all user attributes will be requested. That's also standard LDAP behavior (as per RFC 4511 section 4.5.1.8).
> 
> What is perhaps less clear is that the primaryGroupToken attribute is defined as operational and therefore needs to be explicitly requested by name. I have found a couple of different pages where Microsoft seems to provide a definition for the attribute, but that definition is in a proprietary form rather than the standard LDAP form, and there's nothing on that page that makes it clear that it has an operational usage. It is probably something that could have been discovered by retrieving the schema from the server, and it is the kind of thing that logically makes sense to be an operational attribute, but it would be nice if Microsoft made it clearer that it's an operational attribute.

Thank you but lets return back to issue declared in the title. No I know how to get **primaryGroupToken**. There are even 2 ways to achieve it:

1.  
 ```
ldapConnectionPool.getEntry(dn, "*", "primaryGroupToken") 
```

2.     
 ```
val entry = ldapConnectionPool.getEntry(groupDn, SearchRequest.ALL_USER_ATTRIBUTES, "PrimaryGroupToken")
val domainSidBytes = entry.getAttributeValueBytes("objectSid")
val domainSidString = LdapUtils.convertBinarySidToString(domainSidBytes)
val tokenFromSid = domainSidString.substringAfterLast("-")
```

[This comment](https://github.com/pingidentity/ldapsdk/issues/151#issuecomment-1687222172) adresses my question but I am not sure about and shared my concerns in response. 

Ideally I would like to have smth like
 ```
ldapConnectionPool.searchForEntry(SearchRequest(dn, SearchScope.SUB, "PrimaryGroupToken=$primaryGroupToken"))
 ```
 
 or
  ```
 ldapConnectionPool.search(baseDn, SearchScope.SUB, "objectSid=*-$primaryGroupToken")
  ```
  
  but  in both cases I don't receive entry.
 
 
