Ranged Retrieval Search

What is the best way to query an attribute that could be ranged?

My use-case:

AD LDS returns member;range=0-1499 for a large group.
If I include "member" in my list of requested attributes, Unboundid returns nothing.
If I include "member;range=0-*", then unboundid returns an attribute called "member;range=0-1499"

Is appending ";range=0-*" the best way to query an attribute that could be ranged?

This isn’t something that’s specific to the UnboundID LDAP SDK. It’s a nonstandard “feature” of Active Directory, and the server should behave in the same way regardless of what type of client is interacting with it. I’m not really all that familiar with a lot of AD-specific things, and I have no idea whether there’s any way to customize or disable this behavior so that it operates like other directories when dealing with multivalued attributes with large numbers of values.

I did find https://docs.microsoft.com/en-us/previous-versions/windows/desktop/ldap/searching-using-range-retrieval that discusses this. It does look like the best way to address this would be to use the “;range={lowerLimit}-*” syntax, and then keep updating the lower value when repeating the search until you reach the end. That document doesn’t seem to make it clear whether there’s any easy way to tell when you’ve hit the end of the set of values, so at least in some cases you might need to issue one more search than is necessary. Also, that document doesn’t indicate whether there might be any way to tell if an attribute has too many values to return without using a range, and it sounds like you find that it doesn’t return anything. I guess if you retrieve an entry and don’t see an expected attribute, then you might just need to try the search again requesting that attribute with a range, or just always request every attribute with a range. This is probably something you should ask Microsoft about, because this isn’t a standard LDAP behavior.

In fact, I should point out that this “feature” actually violates the LDAP protocol specification. If an attribute type name is followed by a semicolon and additional text, that additional text is called an attribute option, and the term for an attribute type name followed by zero or more attribute options is called an attribute description. The syntax for attribute descriptions is defined in RFC 4512 section 2.5, and it states (in conjunction with the definition of keychar in section 1.4 of that document) that attribute options must be comprised only of ASCII letters, digits, and the hyphen character. So Microsoft’s use of the equal sign and the asterisk both violate this specification, and it might not work properly with clients that expect standard LDAP behavior. I think that the UnboundID LDAP SDK for Java should probably allow you to request this syntax even though it is technically illegal, but I can’t say that it will handle it in every case that arises.

As an alternative, there may be better and more standard ways of interacting with these attributes that don’t require you to resort to this nonstandard behavior. If you’re trying to get a list of all members of a group, by retrieving the group entry, then you may be out of luck. However, if you’re just trying to determine whether a specific user is a member of the group, then I would expect that it should work by issuing a search with a baseObject scope against that group with a filter like “(member={userDN})”. If that search returns the entry, then the user is a member of that group; if it doesn’t return the entry, then the user isn’t a member. And I’m while I’m not absolutely sure about this, I do think that Active Directory might use the memberOf attribute in user entries to indicate the set of groups in which that user is a member, so you might be able to issue a search with a filter like “(memberOf={groupDN})” to retrieve entries for the users that are members of the group (and if there are too many of them, then you could use something like the simple paged results control (as described in RFC 2696, and which I assume that AD supports since some people from Microsoft were involved in the specification) to iterate through those entries (unfortunately, the simple paged results control only applies to paging through entries and not paging through values of a multivalued attribute, so it won’t be of use in your original question).

I’m sorry that I can’t be more helpful, but this is more an AD-specific question rather than an LDAP question, and Microsoft is probably the best place to go for answers to AD-specific issues.

Neil


Interesting, that spring implementation have this feature 
https://docs.spring.io/spring-ldap/docs/2.3.0.RELEASE/apidocs/index.html?org/springframework/ldap/core/IncrementalAttributesMapper.html